Repository gatsbyjs/gatsby, pull requests merged in 2025-04, with the labels that each got.

#39264 fix: pin webpack
  packages/gatsby-graphiql-explorer/package.json
  packages/gatsby-plugin-mdx/package.json
  packages/gatsby/package.json
  packages/gatsby/src/utils/webpack/get-ssr-chunk-hashes.ts
  yarn.lock
Labels: topic: webpack/babel, topic: render-mode

#39263 feat(gatsby-source-wordpress): support wp-graphql@2
  integration-tests/gatsby-source-wordpress/.env.test
  integration-tests/gatsby-source-wordpress/README.md
  integration-tests/gatsby-source-wordpress/__tests__/__snapshots__/index.js.snap
  integration-tests/gatsby-source-wordpress/__tests__/index.js
  integration-tests/gatsby-source-wordpress/docker/seed/backup.sql
  integration-tests/gatsby-source-wordpress/docker/wordpress/Dockerfile
  integration-tests/gatsby-source-wordpress/docker/wp-cli/install-wp-graphql-plugins.sh
  integration-tests/gatsby-source-wordpress/docker/wp-cli/start.sh
  integration-tests/gatsby-source-wordpress/gatsby-config.js
  integration-tests/gatsby-source-wordpress/test-fns/data-resolution.js
  integration-tests/gatsby-source-wordpress/test-fns/integrity.js
  integration-tests/gatsby-source-wordpress/test-fns/test-utils/get-gatsby-process.js
  integration-tests/gatsby-source-wordpress/test-fns/test-utils/increment-remote-data.js
  integration-tests/gatsby-source-wordpress/test-fns/test-utils/queries.js
  packages/gatsby-source-wordpress/src/supported-remote-plugin-versions.ts
  packages/gatsby-source-wordpress/src/utils/fetch-graphql.ts
  packages/gatsby-source-wordpress/src/utils/graphql-queries.ts
Labels: topic: source-wordpress

#39233 ci: drop tests for `unstable_createNodeManifest`
  .circleci/config.yml
  integration-tests/node-manifest/__tests__/create-node-manifest.test.js
  integration-tests/node-manifest/gatsby-node.js
  integration-tests/node-manifest/package.json
  integration-tests/node-manifest/src/pages/connection-list-query-page.js
  integration-tests/node-manifest/src/pages/static-query-list-query.js
  integration-tests/node-manifest/src/pages/{TestFsRouteType.id}.js
  integration-tests/node-manifest/src/templates/four.js
  integration-tests/node-manifest/src/templates/one.js
  integration-tests/node-manifest/src/templates/three.js
  integration-tests/node-manifest/src/templates/two.js
  integration-tests/node-manifest/utils/get-gatsby-process.js
Labels: status: triage needed
